@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}


body{
    background-color: #000000;

}

.navbar {
    height: 100px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-weight: 300px;
    font-size: 24px;
    line-height: 29px;
    border-bottom: 2px solid gainsboro;
}

.details{
    display: flex;
    gap: 30px;
}


#app{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
}

.signup input{
    width: 800px;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
}


#signup-btn, #logout {
    width: 100px;
    height: 40px;
}

h2{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 64px;
    line-height: 77.45px;
}

#message{
    color: #2a77db;
    font-size: 24px;
    font-weight: 300;
    padding: 20px 0 20px 0;
}

.profile{
    color: aliceblue;
}

.details{
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
    padding-bottom:15px ;
}
